In [2]:
import sys
!{sys.executable} -m pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.23.1-py3-none-any.whl (1.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 28.5 MB/s eta 0:00:00 MB/s eta 0:00:01
Requirement already satisfied: scipy>=1.2.1 in /opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.9.1)
Requirement already satisfied: joblib>=0.13.2 in /opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: pandas>=0.24.2 in /opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.4.4)
Requirement already satisfied: scikit-learn>=1.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.1.1)
Requirement already satisfied: matplotlib>=3.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (3.5.2)
Requirement already satisfied: numpy>=1.16.2 in /opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.2)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (9.2.0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.1

In [37]:
import math
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

# Question 1

Report 3 rules with support at least 0.2 and confidence at least 0.9. Specifyfor each of them the support and the confidence.

In [45]:
# Read the CSV file and store the data in a DataFrame
data = pd.read_csv(r"mammographic_masses.csv",delimiter=",",header=0)
data.head()

  BI-RADS Age Shape Margin Density  Severity
0       5  67     3      5       3         1
1       4  43     1      1       ?         1
2       5  58     4      5       3         1
3       4  28     1      1       3         0
4       5  74     1      5       ?         1

In [46]:
# Preprocessing: change to one hot encoding so as to be able to use apriori from mlxtend
d = data.values.tolist()

In [47]:
#removing nan values
for i in range(0,len(d)):
    j=0
    while(True):
        if (type(d[i][j])==float and math.isnan(d[i][j])) :
            del d[i][j]
            j-=1
        j+=1
        if (j>len(d[i])-1):
            break

In [48]:
# Adding attributes
for i in range(len(d)):
    for j in range (len(d[i])):
        d[i][j]=data.columns[j] + "=" +str(d[i][j])

In [49]:
# Fit the TransactionEncoder to the data and transform it. Learn the unique items in the data, then convert the data into a one-hot encoded array
te = TransactionEncoder()
te_ary = te.fit_transform(d)
te_ary

array([[False, False, False, ...,  True, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False,  True, False],
       ...,
       [False, False, False, ..., False,  True, False],
       [False, False, False, ..., False,  True, False],
       [False, False, False, ...,  True, False, False]])

In [50]:
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Age=18,Age=19,Age=20,Age=21,Age=22,Age=23,Age=24,Age=25,Age=26,Age=27,...,Margin=4,Margin=5,Margin=?,Severity=0,Severity=1,Shape=1,Shape=2,Shape=3,Shape=4,Shape=?
0,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,False,False,False
957,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,True,False
958,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,True,False
959,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,True,False
960,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,True,False,False

In [81]:
# Computing frequent itemsets and association rules
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)
frequent_itemsets

     support                           itemsets
0   0.830385                        (Density=3)
1   0.371488                         (Margin=1)
2   0.291363                         (Margin=4)
3   0.536941                       (Severity=0)
4   0.463059                       (Severity=1)
5   0.233091                          (Shape=1)
6   0.219563                          (Shape=2)
7   0.416233                          (Shape=4)
8   0.292404              (Density=3, Margin=1)
9   0.250780              (Density=3, Margin=4)
10  0.421436            (Density=3, Severity=0)
11  0.408949            (Density=3, Severity=1)
12  0.374610               (Density=3, Shape=4)
13  0.328824             (Margin=1, Severity=0)
14  0.327784              (Shape=4, Severity=1)
15  0.257024  (Density=3, Margin=1, Severity=0)
16  0.295525   (Density=3, Shape=4, Severity=1)

In [57]:
# Generates association rules from frequent itemsets
ar = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.9)
ar[["antecedents","consequents","support","confidence"]]

                          antecedents   consequents   support  confidence
0                           (Shape=4)   (Density=3)  0.374610    0.900000
1               (Density=3, Margin=1)   (BI-RADS=4)  0.263267    0.900356
2               (BI-RADS=4, Margin=1)  (Severity=0)  0.299688    0.911392
3              (Margin=1, Severity=0)   (BI-RADS=4)  0.299688    0.911392
4                (Shape=4, BI-RADS=5)   (Density=3)  0.245578    0.904215
5                (Shape=4, BI-RADS=5)  (Severity=1)  0.246618    0.908046
6               (Shape=4, Severity=1)   (Density=3)  0.295525    0.901587
7    (BI-RADS=4, Margin=1, Density=3)  (Severity=0)  0.238293    0.905138
8   (Density=3, Margin=1, Severity=0)   (BI-RADS=4)  0.238293    0.927126
9     (Density=3, Shape=4, BI-RADS=5)  (Severity=1)  0.224766    0.915254
10   (Shape=4, Severity=1, BI-RADS=5)   (Density=3)  0.224766    0.911392

3 rules with support at least 0.2 and confidence at least 0.9:<br>
1. If Shape = 4, Density = 3 (Support = 0.374610, Confidence = 0.900000)<br>
2. If Density = 3 and Margin = 1, BI-RADS = 4 (Support = 0.263267, Confidence = 0.900356)<br>
3. If BI-RADS = 4 and Margin = 1, Severity = 0 (Support = 0.299688, Confidence = 0.911392)<br>

# Question 2

This  task  consists  of  determining  some  attributes  and  their  values  that help  us  to  find  out  whether  a  given  instance  is  benign  (severity = 0)  or malign (severity = 1).  We are looking for rules of the kind:<br>
<center>A1=a1, ... , Ak=ak → Severity=’0’<br>
or<br>
A1=a1, ... , Ak=ak → Severity=’1’<br>
where Ai=ai denotes an attribute and its value.<br></center>
For example the following rule:<br>
<center>Shape=’4’, Margin=’1’ → Severity=’0’<br></center>
tells  us  that  instances  with  the  specified  shape  and  margin  are  usually benign.  Remember that only rules with support at least 0.1, (i.e.  their frequency is at least 10%) are relevant for us.  Rules with lower support are usually not informative, as there is no much evidence they are true or not.  In our exercise we consider relevant any rule with confidence at least 0.9 (i.e.  they are true 90% of times).  Report one or two rules with the specified  requirements  that  you  think  might  help  us  predicting  whether a given instance is benign or malign.  You should not report rules with the attribute BI-RADS for this question.  Which insights did you get from those rules? (e.g. the margin of the lesion can help us determining whether a lesion is benign or malign).

In [68]:
# Read the CSV file and store the data in a DataFrame
data = pd.read_csv(r"mammographic_masses.csv",delimiter=",",header=0)

# Drop the "BI-RADS" column
data = data.drop('BI-RADS', axis=1)

data.head()

  Age Shape Margin Density  Severity
0  67     3      5       3         1
1  43     1      1       ?         1
2  58     4      5       3         1
3  28     1      1       3         0
4  74     1      5       ?         1

In [69]:
# Preprocessing: change to one hot encoding so as to be able to use apriori from mlxtend
d = data.values.tolist()

In [70]:
#removing nan values
for i in range(0,len(d)):
    j=0
    while(True):
        if (type(d[i][j])==float and math.isnan(d[i][j])) :
            del d[i][j]
            j-=1
        j+=1
        if (j>len(d[i])-1):
            break

In [71]:
# Adding attributes
for i in range(len(d)):
    for j in range (len(d[i])):
        d[i][j]=data.columns[j] + "=" +str(d[i][j])

In [72]:
# Fit the TransactionEncoder to the data and transform it. Learn the unique items in the data, then convert the data into a one-hot encoded array
te = TransactionEncoder()
te_ary = te.fit_transform(d)
te_ary

array([[False, False, False, ...,  True, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False,  True, False],
       ...,
       [False, False, False, ..., False,  True, False],
       [False, False, False, ..., False,  True, False],
       [False, False, False, ...,  True, False, False]])

In [73]:
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Age=18,Age=19,Age=20,Age=21,Age=22,Age=23,Age=24,Age=25,Age=26,Age=27,...,Margin=4,Margin=5,Margin=?,Severity=0,Severity=1,Shape=1,Shape=2,Shape=3,Shape=4,Shape=?
0,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,False,False,False
957,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,True,False
958,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,True,False
959,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,True,False
960,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,True,False,False

In [84]:
# Computing frequent itemsets and association rules
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

     support                                    itemsets
0   0.830385                                 (Density=3)
1   0.371488                                  (Margin=1)
2   0.120708                                  (Margin=3)
3   0.291363                                  (Margin=4)
4   0.141519                                  (Margin=5)
5   0.536941                                (Severity=0)
6   0.463059                                (Severity=1)
7   0.233091                                   (Shape=1)
8   0.219563                                   (Shape=2)
9   0.416233                                   (Shape=4)
10  0.292404                       (Density=3, Margin=1)
11  0.106139                       (Density=3, Margin=3)
12  0.250780                       (Density=3, Margin=4)
13  0.131113                       (Margin=5, Density=3)
14  0.421436                     (Density=3, Severity=0)
15  0.408949                     (Density=3, Severity=1)
16  0.190427                        (Density=3, Shape=1)
17  0.166493                        (Density=3, Shape=2)
18  0.374610                        (Density=3, Shape=4)
19  0.328824                      (Margin=1, Severity=0)
20  0.191467                         (Margin=1, Shape=1)
21  0.150884                         (Margin=1, Shape=2)
22  0.198751                      (Margin=4, Severity=1)
23  0.199792                         (Shape=4, Margin=4)
24  0.118626                      (Margin=5, Severity=1)
25  0.117586                         (Margin=5, Shape=4)
26  0.193548                       (Shape=1, Severity=0)
27  0.183143                       (Shape=2, Severity=0)
28  0.327784                       (Shape=4, Severity=1)
29  0.257024           (Density=3, Margin=1, Severity=0)
30  0.159209              (Density=3, Margin=1, Shape=1)
31  0.111342              (Density=3, Margin=1, Shape=2)
32  0.173777           (Density=3, Margin=4, Severity=1)
33  0.175858              (Density=3, Shape=4, Margin=4)
34  0.110302           (Margin=5, Density=3, Severity=1)
35  0.112383              (Margin=5, Density=3, Shape=4)
36  0.158169            (Density=3, Shape=1, Severity=0)
37  0.133195            (Density=3, Shape=2, Severity=0)
38  0.295525            (Density=3, Shape=4, Severity=1)
39  0.169615             (Shape=1, Margin=1, Severity=0)
40  0.136316             (Margin=1, Shape=2, Severity=0)
41  0.155047             (Shape=4, Margin=4, Severity=1)
42  0.143600  (Density=3, Shape=1, Margin=1, Severity=0)
43  0.135276  (Density=3, Shape=4, Margin=4, Severity=1)

In [78]:
# Generates association rules from frequent itemsets
ar = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.9)
ar[["antecedents","consequents","support","confidence"]]

                        antecedents   consequents   support  confidence
0                        (Margin=5)   (Density=3)  0.131113    0.926471
1                         (Shape=4)   (Density=3)  0.374610    0.900000
2            (Margin=5, Severity=1)   (Density=3)  0.110302    0.929825
3               (Margin=5, Shape=4)   (Density=3)  0.112383    0.955752
4             (Shape=4, Severity=1)   (Density=3)  0.295525    0.901587
5               (Shape=2, Margin=1)  (Severity=0)  0.136316    0.903448
6    (Density=3, Margin=1, Shape=1)  (Severity=0)  0.143600    0.901961
7  (Density=3, Severity=0, Shape=1)    (Margin=1)  0.143600    0.907895

In [82]:
filtered_df = ar[(ar["consequents"] == frozenset({'Severity=0'})) | (ar["consequents"] == frozenset({'Severity=1'}))]
filtered_df[["antecedents","consequents","support","confidence"]]

                      antecedents   consequents   support  confidence
5             (Shape=2, Margin=1)  (Severity=0)  0.136316    0.903448
6  (Density=3, Margin=1, Shape=1)  (Severity=0)  0.143600    0.901961

When Shape = 2 and Margin = 1, the given instance is usually a benign  (severity = 0), with support = 0.136316 and confidence = 0.903448.<br>
When Density = 3, Margin = 1 and Shape = 1, the given instance is usually a benign  (severity = 0), with support = 0.143600 and confidence = 0.901961.<br>

# Question 3

As discussed above, the BI-RADS assessment is not always accurate and it might lead to unnecessary breast biopsy. Provide one or two rules that might give some evidence that the BI-RADS assessment is not always accurate. Explain your answer.

# Question 4

# Question 5